@import "mixins";

@font-face {
  font-family: "Montserrat-Bold";
  src:  url('/assets/fonts/Montserrat-Bold/fonts/Montserrat-Bold.woff') format('woff'), // Pretty Modern Browsers
        url('/assets/fonts/Montserrat-Bold/fonts/Montserrat-Bold.ttf')  format('truetype'), // Safari, Android, iOS
        url('/assets/fonts/Montserrat-Bold/fonts/Montserrat-Bold.svg') format('svg'); // Legacy iOS
}
@font-face {
  font-family: "Montserrat-Regular";
  src:  url('/assets/fonts/Montserrat-Regular/fonts/Montserrat-Regular.woff') format('woff'), // Pretty Modern Browsers
        url('/assets/fonts/Montserrat-Regular/fonts/Montserrat-Regular.ttf')  format('truetype'), // Safari, Android, iOS
        url('/assets/fonts/Montserrat-Regular/fonts/Montserrat-Regular.svg') format('svg'); // Legacy iOS
}
@font-face {
  font-family: "Quicksand-Bold";
  src:  url('/assets/fonts/Quicksand-Bold/fonts/Quicksand-Bold.woff') format('woff'), // Pretty Modern Browsers
        url('/assets/fonts/Quicksand-Bold/fonts/Quicksand-Bold.ttf')  format('truetype'), // Safari, Android, iOS
        url('/assets/fonts/Quicksand-Bold/fonts/Quicksand-Bold.svg') format('svg'); // Legacy iOS
}
// 2. Example with mixin (example):
// NOTE: do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans';
// NOTE-2: files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin;

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);
