extends ../../templates/default.pug

mixin elementMenu(isClass, element)
    li(class="menu-list-element " + isClass)
       a(href=element.url, class="menu-list-element-a") #{element.text}

mixin menu(numPage)
    naw.menu
        ul.menu-list.js-menu-button
            -
                let menu = [
                    {url: "/", text: "index"},
                    {url: "/colors-types.html", text: "Colors&Type"},
                    {url: "/landing.html", text: "Landing"}/*,
                    {url: "/five.html", text: "i % 5"},
                    {url: "/six.html", text: "i % 6"}*/
                ]
            each element,i in menu
                if numPage === i
                    +elementMenu("is-active", element)
                else
                    +elementMenu("", element)

block variables
    - var pageTitle = 'Toxin Hotel'

block content
    h1.h1 Toxin Hotel
    +menu(0)